{:deps {org.scicloj/kindly-default {:mvn/version "1-alpha4"}
        org.scicloj/clay {:mvn/version "2-alpha22"}
        org.scicloj/noj {:mvn/version "1-alpha8"}
        djblue/portal {:mvn/version "0.40.0"}}
 :paths ["src" "notebooks"]}
